<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse noPad">
        <ul class="nav" id="side-menu">

            <li>
                <a ui-sref="warehouse">
                  <i class="glyphicon glyphicon-dashboard">
                  </i> Articulos >
                </a>
                <ul class="nav nav-second-level">
                  <li><a ui-sref="product">Producto</a></li>
                  <li><a href="#">Categoria</a></li>
                  <li><a ui-sref="color">Color</a></li>
                  <li><a href="#">Marca</a></li>
                  <li><a href="#">Material</a></li>
                  <li><a href="#">Medida</a></li>
                  <li><a href="#">Genero</a></li>
                  <li><a href="#">Talla</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-book"></i> Compras > <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#"> Compra</a>
                    </li>
                    <li>
                        <a href="#"> Proveedor</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-barcode"></i> Ventas</a>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-user"></i> Clientes</a>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-print"></i> Proveedores</a>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-list-alt"></i> REPORTES<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Reporte 1</a>
                    </li>
                    <li>
                        <a href="#">Reporte 2</a>
                    </li>
                  </ul>
                <!-- /.nav-second-level -->
            </li>


        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
