<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">

            <li>
                <a ui-sref="warehouse">
                  <i class="glyphicon glyphicon-dashboard">
                  </i> Almacen
                </a>
                <ul class="nav">
                  <li><a ui-sref="product">Productos</a></li>
                  <li><a href="#">Categorias</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-book"></i> Compras<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="flot.html"> Compra</a>
                    </li>
                    <li>
                        <a href="morris.html"> Proveedor</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="tables.html"><i class="glyphicon glyphicon-barcode"></i> Ventas</a>
            </li>
            <li>
                <a href="forms.html"><i class="glyphicon glyphicon-user"></i> Clientes</a>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-list-alt"></i> REPORTES<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="panels-wells.html">Reporte 1</a>
                    </li>
                    <li>
                        <a href="buttons.html">Reporte 2</a>
                    </li>
                  </ul>
                <!-- /.nav-second-level -->
            </li>


        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
